@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1C2833;
    height: 80px;
    width: 100%;
    padding: 0px 50px 0px 80px;
    align-items: center;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0px 8px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    font-weight: 500;
    transition: .5s;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #2C3E50;
}

#click {
    display: none;
}

.menu_btn {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

header {
    background-image: url('./image/blog1.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#service {
    background-color: #16213E;
    padding-bottom: 40px;
}

.services {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.single_service {
    background-color: white;
    text-align: center;
    color: black;
    padding: 30px 20px;
    border: 3px solid green;
    box-shadow: 5px 5px 10px gray;
}

.single_service i {
    font-size: 40px;
}

.single_service h2 {
    margin: 10px 0;
    font-weight: bold;
}
#service .title{
    font-size: 28px;
    text-align: center;
    color: white;
    padding: 50px 0;
    letter-spacing: 0.1em;
}